.cards-perf-foxfinder {
 margin-bottom: 12%;
}

#fond-formulaire-recherche-info {
  padding-bottom: 0 !important;
  margin-top: 40px;
}

.title-recherche-info-foxfinder {
  margin-bottom: 0 !important;
}

#bouton-client-info-foxfinder {
  margin-bottom: 3vh !important;
}

.titre-card-perf-foxfinder {
  margin-bottom: 10px;
  color: #E69561;
}

#vous-yetes-presque {
  color: #E69561;
}

#interrogation-info-foxfinder {
  margin-top: 11px;
}
