<div class="card-resultat-recherche-foxfinder">
  <div class="contact-agence-recherche-foxfinder">
    <h3>Abrinor</h3>
    <div class="etre-contactez-recherche-foxfinder">
      <div class="bouton-contact-recherche-foxfinder btn btn-danger">
        <p>être contacté</p>
      </div>
      <div class="bouton-contact-recherche-foxfinder btn btn-danger">
        <p>profil</p>
      </div>
    </div>
  </div>
  <div class="ensemble-card-perd-resultat-recherche">
    <div class="card-perd-resultat-recherche">
      <p class="text-center" style="font-size: 20px; color: #E86C42">12 semaines</p>
      <p>délais de vente</p>
    </div>
    <div class="card-perd-resultat-recherche">
      <p class="text-center" style="font-size: 20px; color: #E86C42">12</p>
      <p >nombre de ventes</p>
    </div>
    <div class="card-perd-resultat-recherche">
      <p class="text-center" style="font-size: 20px; color: #E86C42">2,5 fois</p>
      <p>plus vite en mandat exclusif</p>
    </div>
  </div>
</div>
