<div class="banner" style="background-image: linear-gradient(-225deg, rgba(102, 102, 102, 0.3) 0%, rgba(102, 102, 102, 0.3) 50%), url('<%= image_path "empty.jpg" %>');">
  <div class="banner-content" id="startchange">
    <h2 class="text-center">Foxfinder n'est pas encore présent dans votre ville.<br>Laissez nous vos coordonnés afin d'être avertis de notre arrivés</h2>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#contact" style="margin-bottom: 2%;">Nous Contacter</button>
    <p>Décrivez votre bien pour trouver votre agence immobilière</p>
    <%= render 'devise/registrations/contact' %>
    <%= render 'shared/searchbar' %>
    <h4 class="info-medium text-center size-text baseline">FoxFinder optimise votre recherche d'agences immobilières pour votre projet de vente</h4>
  </div>
</div>
