<h4 class="text-center"><strong>Données générales de votre secteur</strong></h4>

  <div class="ensemble-card-perd-resultat-recherche">
    <div class="card-perd-resultat-recherche text-center">
      <p class="text-center" style="font-size: 20px; color: #E86C42">12</p>
      <p>appartement vendus dans votre secteur</p>
    </div>
    <div class="card-perd-resultat-recherche text-center">
      <p class="text-center" style="font-size: 20px; color: #E86C42">1</p>
      <p >agence selectionnée</p>
    </div>
    <div class="card-perd-resultat-recherche text-center">
      <p class="text-center" style="font-size: 20px; color: #E86C42">12 sem</p>
      <p class="text-center">délais de vente moyen</p>
    </div>
  </div>


