

<div id="modal">
  <div class="modalconent">
    <div class="pipedriveWebForms" data-pd-webforms="https://pipedrivewebforms.com/form/7ec73255272e3acc23a19d9681da36b81994719"><script src="https://pipedrivewebforms.com/webforms.min.js"></script></div>


    <!-- <div id="button" style="color: black;">X</div> -->
  </div>
</div>

<script type="text/javascript">
window.onload = function () {
  document.getElementById('button').onclick = function () {
    document.getElementById('modal').style.display = "none"
  };
};
</script>

<script>
// Get the modal
var modal = document.getElementById('modal');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<script src="https://pipedrivewebforms.com/webforms.min.js"></script>
