<div class="resizenav">
  <%= render 'shared/navbar' %>
</div>
<body class="landing-page">
  <div class="wrapper">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="title text-center">Conditions générales d'utilisation</h2>
            <p>
              <b>ARTICLE 1. INFORMATIONS LÉGALES</b> <br><br>
              En vertu de l'article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé dans cet article l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
              Le site FoxFinder est édité par :<br>
              SAS FoxFinder, dont le siège siège social est situé à l'adresse suivante : 14 B rue de pas, et immatriculée au registre suivant : RCS Lille Métropole 832 416 937.
              Téléphone : 06.47.65.48.86/ Adresse e-mail : contact@foxfinder.fr.<br>

              Le directeur de publication du site est :<br>
              Monsieur Quentin Picavez.<br>

              Le site FoxFinder est hébergé par :<br>
              Amazon Web Services Ireland Limited, dont le siège est situé One Burlington Plaza, Burlington Road, Dublin 4.<br><br>

              <b>ARTICLE 2. PRÉSENTATION DU SITE</b><br><br>
              Le site FoxFinder est une solution permettant à tout particulier souhaitant vendre son bien immobilier, de trouver le(s) professionnels le(s) plus adéquate(s) pour gérer son projet de vente. Ce service est complété par un suivi téléphonique gratuit de la transaction, de la  signature du mandat de vente avec l’agence, jusqu’à l’acte authentique.
              Par conséquent, les services de FoxFinder sont exclusivement dédiés aux particuliers propriétaire souhaitant céder un bien immobilier et en recherche d’une agence immobilière.
              La prestation de FoxFinder à destination des particuliers est totalement gratuite.<br><br>
              <b>ARTICLE 3. CONTACT</b><br><br>
              Pour toute question ou demande d'information concernant le site, ou tout signalement de contenu ou d'activités illicites, l'utilisateur peut contacter l'éditeur à l'adresse e-mail suivante: contact@foxfinder.fr ou adresser un courrier recommandé avec accusé de réception à : SAS FoxFinder - 14 B rue de pas<br><br>



              <b>ARTICLE 4. ACCEPTATION DES CONDITIONS D'UTILISATION</b><br><br>
              L'accès et l'utilisation du site sont soumis à l'acceptation et au respect des présentes Conditions Générales d’Utilisation.<br>
              Vous vous engagez à ne renseigner sur le site que des informations véridiques, sincères, régulières et fidèles sur vos coordonnées et vos besoins.<br>
              L'éditeur se réserve le droit de modifier, à tout moment et sans préavis, le site et des services ainsi que les présentes CGU, notamment pour s'adapter aux évolutions du site par la mise à disposition de nouvelles fonctionnalités ou la suppression ou la modification de fonctionnalités existantes.<br>
              Il est donc conseillé à l'utilisateur de se référer avant toute navigation à la dernière version des CGU, accessible à tout moment sur le site. En cas de désaccord avec les CGU, aucun usage du site ne saurait être effectué par l'utilisateur.<br><br>

              <b>ARTICLE 5. ACCÈS ET NAVIGATION</b><br><br>
              L'éditeur met en œuvre les solutions techniques à sa disposition pour permettre l'accès au site 24 heures sur 24, 7 jours sur 7. Il pourra néanmoins à tout moment suspendre, limiter ou interrompre l'accès au site ou à certaines pages de celui-ci afin de procéder à des mises à jours, des modifications de son contenu ou tout autre action jugée nécessaire au bon fonctionnement du site.<br>
              La connexion et la navigation sur le site FoxFinder valent acceptation sans réserve des présentes Conditions Générales d'Utilisation, quelques soient les moyens techniques d'accès et les terminaux utilisés.<br>
              Les présentes CGU s'appliquent, en tant que de besoin, à toute déclinaison ou extension du site sur les réseaux sociaux et/ou communautaires existants ou à venir.<br><br>

              <b>ARTICLE 6. GESTION DU SITE</b><br><br>
              Pour la bonne gestion du site, l'éditeur pourra à tout moment :<br>
              - suspendre, interrompre ou limiter l'accès à tout ou partie du site, réserver l'accès au site, ou à certaines parties du site, à une catégorie déterminée d'internaute ;<br>
              - supprimer toute information pouvant en perturber le fonctionnement ou entrant en contravention avec les lois nationales ou internationales, ou avec les règles de la Nétiquette ;<br>
              - suspendre le site afin de procéder à des mises à jour.<br><br>




              <b>ARTICLE 7. RESPONSABILITÉS</b><br><br>
              La société met tout en œuvre pour offrir à l’utilisateur des informations vérifiées, mais elle ne saurait être tenue pour responsable des erreurs ou d’une absence de disponibilité des informations contenues sur son site, ni des dommages directs ou indirects pouvant en résulter.<br>

              De la même manière, la société met tout en œuvre pour offrir à l’utilisateur des informations vérifiées sur les professionnels partenaires, mais elle ne saurait être tenue pour responsable de la qualité des informations ou plus généralement de toute fausse information sur les performances, services et/ou tarifs communiqués par ce dernier, ou bien d’une absence de disponibilité de sa part.<br>

              L’utilisateur garantit que sa demande de recherche d’agence(s) immobilière(s) correspond à un besoin réel et s’engage à communiquer des informations sincères et véritables au prestataire.

              La seule obligation souscrite par la société est la mise en relation de l’utilisateur avec un ou plusieurs professionnels de l’immobilier partenaires de FoxFinder. Elle n’intervient pas dans les négociations menées par la suite entre l’utilisateur et le(s) professionnel(s), et ne pourra en aucun cas être tenue pour responsable des différends qui pourraient survenir entre eux dans les négociations et/ou la fourniture des prestations.<br>

              L’utilisateur reconnaît être seul responsable du choix du professionnel et la société ne pourra en aucun cas être tenue pour responsable de tout dommage direct ou indirect causé par la vente et/ou la réalisation de la prestation convenue suite à l’intermédiation. Il appartient à l’utilisateur de vérifier les informations communiquées par les agences immobilières via le site pour s’assurer de la compétence de ce dernier pour mener à bien les prestations proposées.<br>

              La société décline toute responsabilité civile et/ou pénale quant aux conséquences directes et indirecte de sa mise en relation entre utilisateurs et les agences immobilières.<br>

              L’utilisateur s’engage aux termes des présentes à n’utiliser les services du site ainsi que l’ensemble des informations auxquelles il pourrait avoir accès que dans un but conforme à l’ordre public, aux bonnes mœurs et aux droits des tiers<br>
              L'éditeur n'est responsable que du contenu qu'il a lui-même édité.<br>
              L'éditeur n'est pas responsable :<br>
              - en cas de problématiques ou défaillances techniques, informatiques ou de compatibilité du site avec un matériel ou logiciel quel qu'il soit ;<br>
              - des dommages directs ou indirects, matériels ou immatériels, prévisibles ou imprévisibles résultant de l'utilisation ou des difficultés d'utilisation du site ou de ses services ;<br>
              - des caractéristiques intrinsèques de l'Internet, notamment celles relatives au manque de fiabilité et au défaut de sécurisation des informations y circulant ;<br>
              - des contenus ou activités illicites utilisant son site et ce, sans qu'il en ait pris dûment connaissance au sens de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique et la Loi n°2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard de traitement de données à caractère personnel.<br>
              Par ailleurs, le site ne saurait garantir l'exactitude, la complétude, et l'actualité des informations qui y sont diffusées.<br>
              L'utilisateur est responsable :<br>
              de la protection de son matériel et de ses données ;<br>
              de l'utilisation qu'il fait du site ou de ses services ;<br>
              s'il ne respecte ni la lettre, ni l'esprit des présentes CGU.<br><br>
              <b>ARTICLE 8. LIENS HYPERTEXTES</b><br><br>
              Le site peut contenir des liens hypertextes pointant vers d'autres sites internet sur lesquels FoxFinder n'exerce pas de contrôle. Malgré les vérifications préalables et régulières réalisés par l'éditeur, celui-ci décline tout responsabilité quant aux contenus qu'il est possible de trouver sur ces sites.<br>
              L'éditeur autorise la mise en place de liens hypertextes vers toute page ou document de son site sous réserve que la mise en place de ces liens ne soit pas réalisée à des fins commerciales ou publicitaires.<br>
              En outre, l'information préalable de l'éditeur du site est nécessaire avant toute mise en place de lien hypertexte.<br>
              Sont exclus de cette autorisation les sites diffusant des informations à caractère illicite, violent, polémique, pornographique, xénophobe ou pouvant porter atteinte à la sensibilité du plus grand nombre.<br>
              Enfin, FoxFinder se réserve le droit de faire supprimer à tout moment un lien hypertexte pointant vers son site, si le site l'estime non conforme à sa politique éditoriale.<br><br>

              <b>ARTICLE 9. COLLECTE DE DONNÉES</b><br><br>
              Dans un souci de transparence et de protection de vos droits, FoxFinder ne se procurera pas des informations permettant de vous identifier personnellement sauf à ce que vous les communiquiez en complétant le formulaire qui permet d’afficher le nom des agences immobilières proposés, ou celui qui permet d’être contacté pour répondre à toute question éventuelle.<br>
              Pour faire usage de l'un des droits précités, l'utilisateur doit s'adresser à l'éditeur en le contactant par e-mail à l'adresse suivante : contact@foxfinder.fr, ou par courrier recommandé adressé au siège social de l'éditeur en précisant ses nom, prénom(s), adresse et adresse(s) e-mail.<br><br>
              <b>ARTICLE 10. COOKIES</b><br><br>
              Le site a éventuellement recours aux techniques de "cookies" lui permettant de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d'améliorer le service pour le confort de l'utilisateur, lequel peut s'opposer à l'enregistrement de ces "cookies" en configurant son logiciel de navigation.<br><br>



              <b>ARTICLE 11. PROPRIÉTÉ INTELLECTUELLE</b><br><br>
              La structuration du site mais aussi les textes, graphiques, images, photographies, sons, vidéos et applications informatiques qui le composent sont la propriété de l'éditeur et sont protégés comme tels par les lois en vigueur au titre de la propriété intellectuelle.<br>
              Toute représentation, reproduction, adaptation ou exploitation partielle ou totale des contenus, marques déposées et services proposés par le site, par quelque procédé que ce soit, sans l'autorisation préalable, expresse et écrite de l'éditeur, est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L. 335-2 et suivants du Code de la propriété intellectuelle. Et ce, à l'exception des éléments expressément désignés comme libres de droits sur le site.<br>
              L'accès au site ne vaut pas reconnaissance d'un droit et, de manière générale, ne confère aucun droit de propriété intellectuelle relatif à un élément du site, lesquels restent la propriété exclusive de l'éditeur.<br>
              Il est interdit à l'utilisateur d'introduire des données sur le site qui modifieraient ou qui seraient susceptibles d'en modifier le contenu ou l'apparence.<br><br>

              <b>ARTICLE 12. LOI APPLICABLE ET JURIDICTION COMPÉTENTE</b><br><br>
              Les présentes Conditions Générales d'Utilisation sont régies par la loi française. En cas de différend et à défaut d'accord amiable, le litige sera porté devant les tribunaux français conformément aux règles de compétence en vigueur.<br>


            </p>
            <br>
            <h4 class="text-center">Le site FoxFinder vous souhaite une excellente navigation !</h4>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
