 <%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="ensemble-recherche-type-foxfinder">
        <div class="load_bar">
          <p id="active-foxfinder">1</p>
          <p id="active-foxfinder">2</p>
          <p id="non-active-foxfinder">3</p>
          <p id="non-active-foxfinder">4</p>
        </div>
        <div class="fond-page">
          <div class="fond-formulaire">
            <div class="title-form-foxfinder">
              <!-- <h3 id="number-recherche">2</h3> -->
              <h3>Quel type de bien souhaitez-vous vendre ?</h3>
            </div>
            <div class="address-bar-foxfinder text-center">
              <%= form_tag recherche_pieces_path, id: "address_input", method: :get, autocomplete: 'on' do %>
                <%= hidden_field_tag :location, params[:location], {id: 'address', class: "namanyay-search-box", placeholder: 'Adresse du bien à vendre', :required => true} %>
            </div>
            <div class="form-group">
              <div class="btn-group" data-toggle="buttons">



                <label class="btn btn-danger">
                  <input id="bien_room_type_true" name="room_type" type="radio" autocomplete="off" value="Local Commercial"/> Local Commercial
                </label>

                <label class="btn btn-danger" style="margin-right: 5px;">
                  <input id="bien_room_type_true" name="room_type" type="radio" autocomplete="off" value="Immeuble de rapport"/> Immeuble de rapport
                </label>
                  <label class="btn btn-danger" style="margin-right: 5px;">
                  <input id="bien_room_type_true" name="room_type" type="radio" autocomplete="off" value="Terrain"/> Terrain
                </label>
                  <label class="btn btn-danger" style="margin-right: 5px;">
                  <input id="bien_room_type_true" name="room_type" type="radio" autocomplete="off" value="Appartement"/> Appartement
                </label>
                <label class="btn btn-danger" style="margin-right: 5px;">
                  <input id="bien_room_type_true" name="room_type" type="radio" autocomplete="off" value="Maison"/> Maison
                </label>
                <label class="btn btn-danger" style="margin-right: 5px;">
                  <input id="bien_room_type_true" name="room_type" type="radio" autocomplete="off" value="Murs commerciaux"/> Murs commerciaux
                </label>
                <label class="btn btn-danger">
                  <input id="bien_room_type_true" name="room_type" type="radio" autocomplete="off" value="Fonds de commerce"/> Fonds de commerce
                </label>
              </div>
            </div>
            <br>
            <div class="text-center bouton-recherche-foxfinder">
              <%= submit_tag "Suivant", id: "namanyay-search-btn-2" %>
            </div>
            <% end %>
            <div class="text-center interrogation-foxfinder ">
              <p id="point-interrogation-recherche">?</p>
              <p class="margin-right-1">Nous pourrons ainsi cibler uniquement des agences qui ont vendues des biens similaires au votre</p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
