.negocard {
  background-color: #F0F3F4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 15%;
  margin-bottom: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.mesnegos {
  margin-left: 15%;
}

.default-nego-profile {
    border-radius: 150px;
    height: 90px;
    width: 90px;
}

.foxfinder-fullname {
  margin-left: 17%;
  margin-top: 5%;
}

.couleur a {
color: #5B5B5B;
}
